.backgroundColorNav {
    background-color: black;
    color:whitesmoke;
}

.textNav {
    color: whitesmoke !important;
    font-size: medium;
}

.navBrandText {
    color: whitesmoke !important;
    font-size: larger;
    font-weight: bold;
}

.nav-item {
    padding: 0px 10px;
}

.button {
    color: whitesmoke;
    border-color: whitesmoke;
}

.button:hover {
    color: black;
    background-color: whitesmoke;
    border-color: black;
}

.titleSectionOne {
    color: black;
    font-size: 50px;
    font-weight: 600px;
}

.card-img-top{
    height: 10em;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Define o número máximo de linhas que deseja exibir */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  

.card{
    width: 18rem;
    margin: 0px 0px 0px 380px;
    padding: 0px;
    border-radius: 10px;
    border-width: 8px;
}

/***/
.heightFull {
    padding-top: 93px;
    height: 500px;
  }
  
  .sectionOne {
    padding-top: 450px;
    background-color: rgb(241, 241, 241);
    position: relative;
  }
  
  #imagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 300px; /* Ajuste o valor conforme necessário */
    height: auto; /* Ajuste para manter a proporção da imagem */
    transition: transform 1.5s ease;
    z-index: 2;
  } 
  
  #texto {
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    transition: transform 1.5s ease;
    z-index: 1; /* Ajuste o z-index para garantir que o texto fique abaixo da imagem */
    width: 60%; /* Ajuste a largura do texto conforme necessário */
  }

