body {
  background-color: #1B262C;
}

.backgroundColorNav {
  background-color: #1B262C;
  color: whitesmoke;
}

.collapse.navbar-collapse {
  position: relative;
}

.textNav {
  color: whitesmoke;
  font-size: medium;
}

.textNav:active {
  color: #BBE1FA;
}

.navBrandText {
  color: whitesmoke;
  font-size: larger;
  font-weight: bold;
}

.nav-link.textNav:focus {
  color: #BBE1FA
}

.navbar-toggler {
  color: whitesmoke;
  border-color: whitesmoke;
}

.navbar-toggler:hover {
  color: #1B262C;
  background-color: #3282B8;
  border-color: #1B262C;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245,245,245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link.textNav:hover {
  color: #3282B8;
}

.nav-link.dropdown-toggle.textNav:hover {
  color: #3282B8;
}

.button {
  color: whitesmoke;
  border-color: whitesmoke;
}

.button:hover {
  color: #1B262C;
  background-color: whitesmoke;
  border-color: #1B262C;
}


.heightFull {
  min-height: 32vw;

}

.sectionOne {
  background-color: #1B262C;
  position: relative;
  border-bottom: 4px groove #1B262C;
}

#imageToRoll {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 15%;
  /* Ajuste o valor conforme necessário */
  height: auto;
  /* Ajuste para manter a proporção da imagem */
  transition: opacity 0.5s ease, transform 1.1s ease;
  z-index: 2;
}

#imagem:hover {
  opacity: 0.8;
}

.hiddenText {
  max-height: 100%;
  opacity: 0;
  background-color: #3282B8;
  color: whitesmoke;
  position: absolute;
  top: 50%;
  border-radius: 1vw;
  transform: translate(-50%, -50%);
  transition-property: transform, opacity;
  transition-duration: 1.5s, 0.5s;
  transition-timing-function: ease, ease;
  z-index: 1;
  max-width: 60%;
  padding: 0.8%;
  overflow: auto;
}

.hiddenText p {
  font-size: 90%;
  /* Tamanho de fonte responsivo em relação à largura da tela */
}

.btn.btn-outline-success.button:active {
  color: whitesmoke;
  background-color: #3282B8;
  border-color: whitesmoke;
}


.btn.btn-primary:hover {
  color: #1B262C;
  background-color: whitesmoke;
  border-color: #1B262C;
}

.fade-in {
  filter: brightness(10%);
  transition: filter 1s ease;
  height: 100%;
  width: 100%;
}

.container-fluid {
  display: flex;
  align-items: center;
}

.maintenance {
  height: min(3.5vw, 10vw);
  max-width: 100%;
  width: auto;
  background-image: repeating-linear-gradient(45deg, yellow, rgb(126, 126, 0) 20px, rgb(31, 31, 31) 20px, #1B262C 40px);
  opacity: 0.75;
}

.maintenance-text {
  color: whitesmoke;
  font-size: 2.5vw;
  -webkit-text-stroke: 0.05em #1B262C;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 100%;
  margin: 0px;
}

/* Book */

.book-container {
  font-family: "Poppin", sans-serif;
  background-color: #1B262C;
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book {
  width: 30vw;
  height: 41vw;
  position: absolute;
  transition-duration: 1s;
  perspective: 1500;
}

input {
  display: none;
}

.cover,
.back-cover {
  background-color: #3282B8;
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 0 5px rgb(41, 41, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center left;
  border-left: 1.5vw solid #0F4C75;
}

.cover {
  position: absolute;
  z-index: 10;
  transition: transform 1s;
}

.cover label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.back-cover {
  position: relative;
  z-index: -1;
}

.page {
  position: absolute;
  width: 96%;
  height: 95%;
  border-radius: 0 15px 15px 0;
  margin-top: 1vw;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition-duration: 1.5s;
  background: url('/assets/images/TexturaDePapel.png');
  background-size: auto;
}

.page-slider.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.page-number {
  position: absolute;
  bottom: 0.5vw;
  right: 50%;
  font-size: 2vw;
  margin: 0px;
}

.page-title {
  margin: 0.5vw 0 0 0;
  font-weight: bold;
  font-size: 1vw;
  white-space: nowrap;
  max-width: 100%;
  text-align: center;
}

.page-text {
  margin-top: 1vw;
  margin-bottom: 0px;
  font-size: 1cqi;
  text-align: justify;
  overflow-y: auto;
  height: 32vw;
  font-family: sans-serif;
}

.page-useds {
  position: static;
  margin-top: 0.7vw;
  height: 2vw;
  width: 2vw;
  max-width: 2vw;
  max-height: 2vw;
}


.page-useds:hover+.useds-text {
  opacity: 1;
}

.useds-text {
  opacity: 0;
  transition-duration: 0.3s;
  position: relative;
  font-size: 1vw;
  bottom: 3.2vw;
  right: 0.7vw;
  width: 4vw;
}

.back-page img {
  width: 100%;
  height: 100%;
  border-radius: 15px 0 0 15px;
}

.front-page {
  background-color: whitesmoke;
  border-radius: 0 15px 15px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-sizing: border-box;
  padding: 1rem;
}

.back-page {
  transform: rotateY(180deg);
  background-color: whitesmoke;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  z-index: 99;
  border-radius: 15px 0 0 15px;
}

.prev {
  position: absolute;
  bottom: 1em;
  cursor: pointer;
}

.next,
.prev {
  position: absolute;
  bottom: 1em;
  cursor: pointer;
  color: darkgrey;
}

.next {
  right: 1em;
  z-index: 12;
}

.prev {
  left: 1em;
}

#page0 {
  z-index: 10;
}

#page1 {
  z-index: 9;
}

#page2 {
  z-index: 8;
}

#page3 {
  z-index: 7;
}

#page4 {
  z-index: 6;
}

#page5 {
  z-index: 5;
}

#page6 {
  z-index: 4;
}

#page7 {
  z-index: 3;
}

#checkbox-cover:checked~.book {
  transform: translateX(15vw);
}

#checkbox-cover:checked~.book .cover {
  transition: transform 2.5s, z-index 2s 2s;
  transform: rotateY(-180deg);
  z-index: 1;
}

#checkbox-cover:checked~.book .page {
  box-shadow: 0 0 3px rgb(99, 98, 98);
}

#checkbox-page0:checked~.book #page0 {
  transform: rotateY(-180deg);
  z-index: 10;
}

#checkbox-page1:checked~.book #page1 {
  transform: rotateY(-180deg);
  z-index: 15;
}

#checkbox-page2:checked~.book #page2 {
  transform: rotateY(-180deg);
  z-index: 20;
}

#checkbox-page3:checked~.book #page3 {
  transform: rotateY(-180deg);
  z-index: 40;
}

#checkbox-page4:checked~.book #page4 {
  transform: rotateY(-180deg);
  z-index: 30;
}