.backgroundColorNav {
    background-color: black;
    color:whitesmoke;
}

.textNav {
    color: whitesmoke;
    font-size: medium;
}

.navBrandText {
    color: whitesmoke;
    font-size: larger;
    font-weight: bold;
}
.nav-link.textNav:focus {
    color: whitesmoke
  }

.nav-item {
    padding: 0px 10px;
}

.nav-link.textNav:hover {
    color: grey;
}

.nav-link.dropdown-toggle.textNav:hover{
    color: grey;
}

.button {
    color: whitesmoke;
    border-color: whitesmoke;
}

.button:hover {
    color: black;
    background-color: whitesmoke;
    border-color: black;
}

.titleSectionOne {
    color: black;
    font-size: 50px;
    font-weight: 600px;
}

.card-img-top{
    height: 10em;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Define o número máximo de linhas que deseja exibir */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  

.card{
    width: 18rem;
    margin: 0px 0px 0px 380px;
    padding: 0px;
    border-radius: 10px;
    border-width: 8px;
}

/***/
.heightFull {
    padding-top: 93px;
    height: 500px;
  }
  
  .sectionOne {
    padding-top: 500px;
    background-color: grey;
    position: relative;
  }
  
  #imagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 350px; /* Ajuste o valor conforme necessário */
    height: auto; /* Ajuste para manter a proporção da imagem */
    transition: opacity 0.5s ease,transform 1.5s ease;
    z-index: 2;
  } 
  
#imagem:hover {
  opacity: 0.8;
}

  #texto {
    opacity: 0;
    background-color: rgb(110, 110, 110);
    border-radius: 10px;
    font-size: 92%;
    word-wrap: break-word;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    transition-property: transform, opacity;
    transition-duration: 1.5s, 1s;
    transition-timing-function: ease, ease;
    z-index: 1; /* Ajuste o z-index para garantir que o texto fique abaixo da imagem */
    max-width: 60%;
    max-height: 95%;
    padding: 15px;
  }

